{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>    
<img src="{% static '/Event/pccoe_logo.png' %}" alt ="pccoe"></img> 


    <div class='container'>
    <div class='col-sm-5 col-sm-offset-4 '>
    <div class='panel panel-default'>
    <div class='panel-heading' style="background-color:#000000"><h4 style="color:white"><b>Login</b></h4></div>
    <div class='panel-body align-center'>
    <center>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <a href={% url 'otp' %}><button style="background-color:'grey'"><b><h5 style="color:black">Send OTP</b></h5></button></a>
    </form>
    </center>
    </div>
    </div>
    </div>
</body>
</html>



