{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static "home/css/index.css" %}">
    
     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'GeneratePDF' %}">Create New Doc And Generate PDF</a>
      </li><br>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Search' %}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Edit' %}">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'analyze_options' %}">Analyze<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'email' %}">Send Report Through Email<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'Details' %}">Get Details of Event In Doc<span class="sr-only">(current)</span></a>
      </li>
      </ul>
  </div>
</nav>

    <div class='container'>
    <div class='col-sm-5 col-sm-offset-4 '>
    <div class='panel panel-default'>
    <div class='panel-heading' style="background-color:#000000"><h4 style="color:white"><b>Event Details</b></h4></div>
    <div class='panel-body align-center'>
   
    <form method="POST" action="">
        {% csrf_token %}
        {{form|crispy}}
    </form>
    </div>
    </div>
    </div>
</body>
</html>